<div fxLayoutAlign="start center" class="" fxLayout="column">
  <mdb-card class="home-jumbotron m-3">

  </mdb-card>
  <div class="home-news">
    <mdb-card class="jumbotron-body jumboton-two">
      <div class="text-white text-center py-5 px-4 my-5">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold "><strong>Welcome to PandaCola's admin panel</strong></h2>
          <p class="mx-5 mb-5 jumbotron-body">You will be able to sync data from <strong>Mirakl</strong> to <strong>Sellsy</strong> using this
            application
          </p>
          <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect routerLink="/admin/sync/order">
            <mdb-icon fas icon="sync" class="left"></mdb-icon>
            Sync Orders
          </a>

          <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect routerLink="/admin/sync/prospect">
            <mdb-icon fas icon="sync" class="left"></mdb-icon>
            Sync Prospects
          </a>
        </div>
      </div>
    </mdb-card>
    <mdb-card class="jumbotron-body jumboton-two">
      <div class="text-white text-center py-5 px-4 my-5">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold "><strong>Statistics</strong></h2>
          <p class="mx-5 mb-5  jumbotron-body">Totals orders: <strong>9999</strong>
          </p>
        </div>
      </div>
    </mdb-card>
  </div>

</div>
